mixin menu(user, items)
	aside.menu
		img.menu__logo(src=require("./img/icons/logo.svg"))
		.menu__profile
			//- use js for setting up right image src
			img.menu__profile-img(src=require('./img/icons/user.png'))
			.menu__profile-name
				span=user.name
		.menu__links
			each item in items
				- var className = 'menu__link'
				- className += item.subitems? ' menu__link--subitems' : ''
				- className += item.active? ' menu__link--active' : ''
				if item.subitems
					a(href=item.href class=className)=item.text
						.menu__subitem-arrow
				else
					a(href=item.href class=className)=item.text


